.header {
}

.login-labels {
}

.text-fields {
}

.primary-button {
  background-color: forestgreen;
  font-weight: bold;
  border: solid 1px white;
  color: white;
  padding: 0.8rem;
  border-radius: 0.8rem;
}
